<p> Add your comment here </p>
<%= @comment.errors.full_messages.join(", ") %>
<%= simple_form_for [@post, @comment], remote: true  do |f| %>
<%= f.input :body, hint: 'write your comment here' %>
<%= f.submit %>
<% end %>
