<h1>All the favourite</h1>
<div class="container" >
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="thumbnail img-thumbnail">

      </div>
    </div>
  </div>
</div>
<% @posts.each do |post| %>
<%= link_to post.title.titleize, post_path(post) %>
<% end %>
